.h_fotter_title{
    font-size: 80%;
    /* font-weight: bold; */
    font-style: italic;
    margin-left: 15px;
}


.h_sidebar_menu{
    color: #808080;
    font-size: 13px;
    font-weight: 550;

    /* font-family: 'Roboto Condensed', sans-serif; */
}

.h_sidebar_sub_menu{
    color: #a0a0a0;
    font-size: 13px;
    font-weight: 550;

    /* font-family: 'Roboto Condensed', sans-serif; */
}

.h_card_sidebar1{
    font-size: 80%;
    font-weight: 500;
}

.h_card_sidebar2{
    font-size: 90%;
    font-weight: 300;
}

.h_lable{
    font-size: 80%;
    color: #acacac;
    font-weight: 700;
}

.h_lable1{
    font-size: 80%;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
}

.h_modalhead{
    font-size: 130%;
    color: white;
    font-weight: 800;
}

.h_table_body{
    /* font-family: 'Abel', sans-serif;
    font-weight: 600;
    font-size: 110%; */
    color: #888888;
    font-size: 13px;
    font-weight: 530;
}

.h_table_body1{
    /* font-family: 'Abel', sans-serif; */
    vertical-align: text-top;
    font-weight: 570;
    font-size: 130%;
    color: #757575;
    font-size: 12px;
}


.h_table_head{
    height: 50px;
    color: #5f5f5f;

}

.h_table_head1{
    color: #5f5f5f;
}

.h_panation{
    font-size: 80%;
    font-weight: 600;
    color: #888888;
}

.h_titleHead{

}

.h_notifikasi{
    font-size: 110%;
    color: white;
    font-weight: 500;
    text-shadow: 1px 1px 8px #050505;
}


.frWidgetText1{
    font-size: 10pt;
    color: white;
    font-weight: 500;
}

.frWidgetText2{
    font-size: 13pt;
    color: white;
    font-weight: bold;
}


.frWidgetText1Dark{
    font-size: 10pt;
    color: #646464;
    font-weight: 500;
}

.frWidgetText2Dark{
    font-size: 13pt;
    color: #646464;
    font-weight: bold;
}

.h_nip{
    font-size: 8pt;
    font-weight: bold;
    color: #9a74a3;
}

.h_nip1{
    font-size: 8pt;
    font-weight: bold;
    color: #af6b6b;
}

.h_nip2{
    font-size: 8pt;
    font-weight: bold;
    color: #6e87c0;
}

.h_nip3{
    font-size: 8pt;
    font-weight: bold;
    color: #b37196;
}

.h_nip4{
    
    font-size: 12px !important;
    font-weight: bold !important;
    color: #52944c !important;
}
.h_nip5{
    
    font-size: 8pt;
    font-weight: bold;
    color: #898989;
}




.h_ModalExit{
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
}

.h_modalHead{
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
}

.shaddowText{
    text-shadow: 0.5px 0.5px 5px #050505;
}


.h_ket{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    /* color: #af5353; */
}


.h_ket_head{
    font-size: 12px;
    font-weight: bold;
    color: #9c9c9c;
}

.h_ket_body{
    font-size: 11px;
    font-weight: bold;
    color: #9c9c9c;
}

.tangall{
    font-size: 55;
    font-weight: bold;
    color: #009ec5;
}


.satux{
    font-size: 15px;
    font-weight: bold;
  }
  
  .duax{
    font-size: 10px;
    font-weight: bold;
  }
  
  .tigax{
    font-size: 9px;
    font-weight: bold;
  }
  
  .duav{
    font-size: 9px;
    font-weight: bold;
  }

  .duaw{
    font-size: 9px;
  }

  .duaw_nip{
    font-size: 9px;
    font-weight: 600;
    color: #009ec5;
}


.clear_download {
    color: #2065be;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}



.clear_underline {
    text-decoration: none;
}

.h_judulDoc{
    color: #009ec5;
    font-size: 11pt;
    font-weight: 550;
}

.h_titleDoc{
    color: #979797;
    font-size: 8pt;
    font-weight: 550;
}


.h_syncx{
    color: white;
    background-color: #c74d4d;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 10px;
}


.h18{
    font-size: 18px;
}
.h17{
    font-size: 17px;
}
.h16{
    font-size: 16px;
}
.h15{
    font-size: 15px;
}
.h14{
    font-size: 14px;
}
.h13{
    font-size: 13px;
}
.h12{
    font-size: 12px;
}
.h11{
    font-size: 11px;
}
.h10{
    font-size: 10px;
}
.h9{
    font-size: 9px;
}
.h8{
    font-size: 8px;
}

.h_bold {
    font-weight: bold;
}

.h_gray1{
    color: #5f5f5f;
}

/* ================= AUREL ================== */

.clear_underline {
    text-decoration: none;
}

.h_judulDoc{
    color: #979797;
    font-size: 14pt;
    font-weight: 550;
}

.h_titleDoc{
    color: #979797;
    font-size: 8pt;
    font-weight: 550;
}

.h_titleDir{
    color: #979797;
    font-size: 11pt;
    font-weight: 550;
}

.h_sub_tittleDir{
    color: #6a6c99;
    font-weight: 600;
    font-size: 11pt;
    font-style: italic;
  }

.removeTextDecoration{
    text-decoration: none;
  }

  
.h_subSubHeadDoc{
    font-size: 14px;
    font-weight: 500;
    color: #acacac !important;
  }

  .tambah{
    background-color: #E57C23 !important;
}