table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  tr:nth-child(even) {background-color: #eeeeee;}


  .fab_kecil{
      width: 45px;
      height: 20px;
  }


  .tbl_responsive{
    overflow-x:auto;
  }


  /* .q-fab i{
    font-size: 12px !important;
  } */


  .rizwan_sex{
    padding-left: 7px;
  }


  .bgku{ 
    /* background: url('https://img.freepik.com/free-photo/top-view-desk-concept-with-laptop_23-2148236857.jpg?w=1380&t=st=1682603942~exp=1682604542~hmac=f00b49a52ae3c1759c4de8e03b9c070389225ec8f99f40975d1c4d967c9a356b') no-repeat center center fixed;  */
    background: url('https://cdn.prod.website-files.com/60e3caa50ec2a701bbf83598/6644d3058d5b480cc2eb73e7_Design%2016%20min.webp') no-repeat center center fixed; 
    /* background-image: linear-gradient(to left, #c8ecff, #a2dafc, #7bc7f9, #51b4f7, #02a0f4); */

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }

  .formLogin{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 2%;
  }

  .margin_btn{
    margin-bottom: 1.5% !important;
  }

  .tbl_btn{
    width: 50px !important;
  }

  .paginate_btn{
    width: 40px !important;
  }

  .hrpagin{
    border: 10px solid #cfd8dc;
  }

  .hrpagin2{
    border: 5px solid #cfd8dc;
  }


  .alertku{
    padding: 3% 0% 3% 0% ;
    background-color: rgb(212, 95, 150);
    color: white;
    font-weight: 500;
    text-align: center;
  }

  .frWidget{
    padding: 1.5%;
  }

  .frWidgetSub{
    border-radius: 5px;
    
  }

  .frWidgetSub1{
    /* padding: 3% 0% 3% 0% ; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }


  .frWidgetSub2{
    padding-left:2%; padding-right:2%;
    padding-top: 4%; padding-bottom: 4%;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    

  }

  .frame_cari{
    padding-left: 1%;
    padding-right: 1%;
  }

input.mdCheckbox { 
    width: 20px; 
    height: 20px; 
} 

input.mdCheckbox1 { 
  width: 20px; 
  height: 20px; 
  background-color: yellow;
} 

.showx{
  display: block !important;
  animation: fade_in_show 0.5s
}

.hidex{
  display: none;
}


.center_div {
  margin: 0;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
}




.rowLeft {
  padding-right: 1%;
}

.rowRight{
  padding-left: 1%;
}


.gbrDoc{
  width:60%; 
  height:auto
}

.iconSize{
  
  width: 35px !important;
  height: 35px !important;  

}

.flexModal{
  display: flex;
  flex-direction: row;
}
.flexModalRight{
  /* display: flex;
  justify-content: end; */
  position: absolute;
  right: 20px;
}
.flexModalLeft{
  display: flex;
  flex-direction: row;
}



@media only screen and (max-width: 1023.8px) {
  .rowLeft {
    padding-right: 0%;
  }
  
  .rowRight{
    padding-left: 0%;
  }

  .gbrDoc{
    width:50%; 
    height:auto
  }
  

}

.listDokRow {
  display: flex;
  background: #fff;
  border-radius: 6px;
  padding: 12px;
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
  position: relative;
}

.listDokIcon {
  width: 70px;
  border-right: 1px solid #eee;
}

.h_kode {
  font-weight: bold;
  font-size: 12px;
  color: #027be3;
}

.h_nomor {
  font-size: 11px;
  color: #999;
}

.listDokContent {
  flex: 1;
  padding: 0 12px;
}

.h_listDok1 {
  font-weight: bold;
  font-size: 14px;
}

.h_listDok2 {
  font-size: 12px;
  color: #666;
}

.h_listDok3 {
  font-size: 12px;
  color: #999;
  margin-top: 4px;
}

.listDokSetting {
  display: flex;
  align-items: center;
}

.heatmap-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

.heatmap-table th,
.heatmap-table td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
}

.opd-name {
  text-align: left !important;
  font-weight: 500;
  padding: 8px 12px;
  min-width: 380px;
  max-width: 380px;
  background: #fafafa;
  white-space: nowrap;
}
.heatmap-table tbody tr:nth-child(even) {
  background-color: #fcfcfc;
}

.heatmap-table tbody tr:nth-child(odd) {
  background-color: #f7f9fc;
}

.heatmap-table th:not(:first-child),
.heatmap-table td:not(:first-child) {
  width: 70px;
  text-align: center;
}

.cell-ok {
  background-color: #e8f5e9; /* hijau lembut */
  color: #2e7d32;
  font-weight: bold;
}

.cell-no {
  background-color: #f5f5f5;
  color: #b0b0b0;
}


.heatmap-table thead th {
  position: sticky;
  top: 0;
  z-index: 2;
  background: linear-gradient(180deg, #e3f2fd, #bbdefb);
  font-weight: 600;
  font-size: 13px;
  border-bottom: 2px solid #90caf9;
}

.heatmap-wrapper {
  max-height: 520px;
  overflow: auto;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}



